*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }
    
    h1{
        text-align: center;
        color: rgb(17, 37, 119);
        font-size: 20px;
    }
    p{
        text-align: center;
        }
        
        input{
            width: 80px;
            height: auto;
            display: inline-block;
        }
      
        p{
            line-height: 22px;
            text-align: justify;
        }
    .wrapper{
        justify-content: center;
        max-width: 750px;
        
    
    }
    .head{
        align-items: center;
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
    }
  
    .bankLogo{
        text-align: left;
    }
    .bankLogo img {
        width: 190px;
     }
    
    
    .ccLogo img{
        width: 180px;
        height: 90px;
    }
    
    .details {
        margin: 0 auto;
        background-color: rgba(225, 227, 235, 0.474);
        padding: 15px;
        max-width: 520px;
       line-height: 22px;
       text-align: center;
       justify-content: center;
    align-items: center;
    align-self: center;
    
    }
    
    .ok{
        width: 60px;
        padding: 5px;
        margin: 0 auto;
 }
    

    
    .do{
        text-align: justify;
    }
    
    
    @media screen and (max-width:580px)    {
        .wrapper{
padding: 20px;    }

.bankLogo img {
    width: 150px;
 }


.ccLogo img{
    width: 140px;
    height:80px;
}


        }

        
.spans {
    text-align: left;
    display: inline-block;
}

.labels {
    display: inline-block;
    text-align: right;
    font-weight: bolder;

}