.btn-default {
    color:#fff;
    background-color:#428bca;
    border-color:#357ebd
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color:#fff;
    background-color:#3276b1;
    border-color:#285e8e
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image:none
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color:#428bca;
    border-color:#357ebd
}
.btn-default .badge {
    color:#428bca;
    background-color:#fff
}

.btn-primary {
    color:#333;
    background-color:#fff;
    border-color:#ccc
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color:#333;
    background-color:#ebebeb;
    border-color:#adadad
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image:none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color:#fff;
    border-color:#ccc
}
.btn-primary .badge {
    color:#fff;
    background-color:#333
}

#privacy-cat-modal.modal {
    display: block;
    font-size: .9em;
}

#privacy-cat-modal a {
    color: #0cbdff;
}

#privacy-cat-modal .modal-header {
    background: #0cbdff;
    color: #fff;
}

#privacy-cat-modal .modal-content {
    background: #fff;
    color: #777;
    overflow: hidden;
    width: 100%;
}

#privacy-cat-modal .text-intro {
    color: #777;
    margin-bottom: 30px;
}

#privacy-cat-modal .category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 29px;
}

#privacy-cat-modal .category-description {
    font-size: 0.87em;
    color: #777;
    margin-bottom: 15px;
    text-align: justify;
}

#privacy-cat-modal .select-all,#privacy-cat-modal .select-item-btn {
    cursor: pointer;
}

#privacy-cat-modal .sub_category {
    min-height: 35px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:768px) {
    #privacy-cat-modal .modal-cat3 {
        width: 750px;
    };
}
/*
custom tc
*/
.modal-lg {
    max-width:900px;
    width:auto;
}

.modal-footer {
    border-top: 1px solid rgba(200,200,200,0.3);
}

.modal-header {
    border-bottom: 1px solid rgba(200,200,200,0.3);
}

.close {
opacity:0.5;
}

#privacy-cat-modal .btn-xs {
    border-radius: 30px;
    padding: 1px 3px;
}

#privacy-cat-modal .btn-toggle > span {
    visibility: hidden;
    display: inline-block;
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    margin: 2px 0px;
    border: 1px solid #b4b4b4;
}

#privacy-cat-modal .btn-toggle {
    border-radius: 50px;
    background-color: #d4d4d4;
}

#privacy-cat-modal .ntrl-error-msg {
    color: white;
    max-width: 85%;
    padding-right: 24px;
}

#privacy-cat-modal .ntrl-error-msg.ntrl-hidden {
    display: none;
}

#privacy-cat-modal .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#privacy-cat-modal .btn-default {
    color: #fff;
    background-color: #0cbdff;
    border-color: transparent;
}

#privacy-cat-modal .modal-footer .btn-primary {
    color: #fff;
    background-color: #0cbdff;
    border-color: transparent;
    font-size: 1.12em;
}

#privacy-cat-modal .modal-footer .btn-default:hover {
    color: #fff;
    background-color: #5c5c5c;
}

#privacy-cat-modal .btn-default.btn-no {
    background-color: #ccc;
}

#privacy-cat-modal .btn-primary:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#privacy-cat-modal .btn-toggle>.btn-primary>.text {
    color: #fff;
}

#privacy-cat-modal .btn-toggle.default-neutral > .btn-primary {
    background-color: #d4d4d4;
}

#privacy-cat-modal .btn-toggle.default-neutral > .btn-primary > span {
    color: black;
}

#privacy-cat-modal .btn-toggle.default-neutral > span {
    visibility: visible;
}

#privacy-cat-modal .btn-toggle:not(.default-neutral) {
    background-color: #6faae5;
}

#privacy-cat-modal .btn-toggle.default-neutral > span {
    visibility: visible;
}

#privacy-cat-modal .btn-toggle.default-neutral .btn-xs {
    background-color: transparent;
    border-color: transparent;
}

#privacy-cat-modal .btn-toggle.default-neutral .btn-xs > span {
    color: black;
}

#privacy-cat-modal .btn-toggle:not(.default-neutral) .btn-primary.btn-xs > span {
    color: black;
}

#privacy-cat-modal .btn-toggle.default-neutral .btn-xs {
    border: 2px solid transparent;
}

#privacy-cat-modal .btn-toggle:not(.default-neutral) .btn-xs {
    border: 2px solid #6faae5;
    border-radius: 30px;
}

#privacy-cat-modal .btn-group:not(.default-neutral) > .btn.btn-primary:first-child:not(:last-child):not(.dropdown-toggle) {
    margin-right: -22px;
    padding-right: 14px;
    padding-left: 14px;
}

#privacy-cat-modal .btn-group:not(.default-neutral) > .btn.btn-primary:last-child:not(:first-child) {
    margin-left: -22px;
    padding-right: 14px;
    padding-left: 14px;
}

#privacy-cat-modal .tc-title {
    max-width: 44%;
    word-break: break-word;
}

#privacy-cat-modal .btn-default.btn-no ,#privacy-cat-modal .btn-default.btn-yes, #privacy-cat-modal .btn-toggle:not(.default-neutral) {
    color : transparent;
}

#privacy-cat-modal .category-title > a:focus, #privacy-cat-modal .modal-header button.close:focus, #privacy-cat-modal .modal-body .select-item-btn > button:focus, #privacy-cat-modal .modal-footer button.btn-primary:focus, #privacy-cat-modal .modal-body .category-description > a:focus, #privacy-cat-modal .modal-body .container-body > p > a:focus {
    outline: black 1px dotted;
    box-shadow: 0 0 0 1px white;
    -webkit-box-shadow: 0 0 0 1px white;
    -moz-box-shadow: 0 0 0 1px white;
}

#privacy-cat-modal .modal-title {
    font-size: 1.43em;
}

.btn-blocked-on {
    border-radius: 30px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.btn-blocked-on.bbo-text {
    font-size: 11px;
}

#privacy-cat-modal .modal-dialog {
    max-height: calc(100% - 6rem);
    display: flex;
}

#privacy-cat-modal .modal-content {
    display:flex;
    flex-direction: column;
}

#privacy-cat-modal .modal-content .modal-body {
    overflow-y: auto;
}

#privacy-cat-modal .modal-content .modal-header, #privacy-cat-modal .modal-content .modal-footer {
    flex-shrink: 0;
}